__pycache__/
*.py[cod]
*.egg-info/
pyproject.toml

.venv/
venv/

.idea/
.vscode/

.ipynb_checkpoints/
main.ipynb
split.ipynb

main.py
split.py

models/
pre-clean_data/
data/
test_data/
test_data_labeled/
training_data/


predictions.csv

